* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}





.header {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  background: url('6.jpg');
  background-attachment: fixed;
  background-size: cover;
}







section .title {
  text-align: center;
}

section .title h2 {
  pointer-events: none;
  color: black;
  font-size: 3rem;
  padding-bottom: 65px;
  letter-spacing: 2px;
}

section .title p {
  pointer-events: none;
  color: black;
  font-size: 130%;
  padding-bottom: 50px;
  
  padding-left: 80px;
  padding-right: 80px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 30px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

}

header .logo {
  letter-spacing: 5px;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}


header .logo:hover {
  letter-spacing: 5px;
  /* color: rgb(202, 202, 202); */
  text-decoration: none;
  font-size: 40px;
  font-weight: 900;
}

header .nav {
  text-decoration: none;
  display: flex;
  color: black;
  font-size: 15px;

}

header .nav li {
  text-decoration: none;
  padding: 5px;
  display: flex;
  color: black;
  font-size: 21px;
  list-style: none;
}

header .nav li a {
  text-decoration: none;
  padding: 10px;
  display: flex;
  list-style: none;
  color: black;
  font-size: 21px;
  list-style: none;
}

header .nav li a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 27px;
}

header .nav li a:active {
  background-color: #fff;
  color: #000;
  border-radius: 27px;
}

header ul .container {
  text-decoration: none;
  padding: 10px;
  display: flex;
  list-style: none;
  color: black;
  font-size: 21px;
  list-style: none;
  /* min-height: 100vh; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  /* text-align: center; */
}

header ul .container button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  /* margin: 0 10px; */
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 20px gray(104, 85, 224, 0.2);
  transition: 0.4s;
}

header ul .container button .reg {
  color: white;
  background-color: black(104, 85, 224, 1);
}

header ul .container button:hover {
  color: white;
  width: 110px;
  /* height: 30px; */
  box-shadow: 0 0 20px grey;
  background-color: black;
}











header.sticky {
  background-color: #fff;
  padding: 3px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}



header.sticky a {
  color: #111;
}

header.sticky .nav li a {
  color: #111;
}

header.sticky .nav li a:hover {
  background-color: rgba(216, 216, 216, 0.774);
  border-radius: 26px;
}


@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');
h1, 
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: black;
    margin-top: 0;
}
h1{
  font-size: 2rem;
  margin: 0;
}
a {
    color: black;
}

a:hover,
a:focus {
    color: black;
}

strong {
    font-weight: 700;
}
.subtitle{
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
  color: black;
  letter-spacing: 0.05em;
  font-family: 'Ubuntu Bold', sans-serif;
}
.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem;
}

.article-read-more {
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
    color: black;
    text-decoration: underline;
}
.article-info {
    margin: 2em 0;
}
header{
  padding: 2em 0;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 3em;
}
.container-flex{
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
nav li{
  margin: 0 1em;
}
nav a{
  text-decoration: none;
  color: #707070;
  font-weight: 700; 
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus{
  color: #143774;
  border-bottom: 1px solid black;
  transition: .3s ease;
}

img{
  max-width: 100%;
  display: block;
}
main{
  max-width: 75%;
}
.article-body{
  width: 100%;
  text-align: justify;
}
.sidebar{
  max-width: 23%;
}
footer {
    background:#143774;
    color: white;
    text-align: center;
    padding: 3em 0;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  text-decoration: underline;
  color: white;
}
@media (max-width:1050px){
  .container-flex{
    flex-direction: column;
  }
  .site-title, .subtitle{
    width: 100%;
  }
  main{
    max-width: 100%;
  }
  .sidebar{
    max-width: 100%;
  }
  
}
@media (max-width: 500px){
  nav ul{
    display: flex;
    flex-direction: column;
  }
  nav li{
    margin: 0.5em 0;
  }
}

/* articles */
.article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .article-recent-main {
        width: 68%;
    }
    
    .article-recent-secondary {
        width: 30%;
    }
}

